# Resumo do Projeto
O que fazer e passo a passo (extração dos dados, limpeza dos dados, exploração dos dados/análise exploratoria, conclusão/modelo)

# Importar as bibliotecas

In [ ]:
#célula de codigo com todas as bibliotecas a serem importadas

In [134]:
import requests
import os
import json
import pandas as pd
import matplotlib as plt
import numpy as np
import re

# Extração dos dados
Webscraping e API

## Webscraping

## APIs

   #   Webscraping

# Limpeza dos Dados

## Conversão do Excel em CSV

In [9]:
sneakers = pd.read_excel ('StockX-Data-Contest-2019-3.xlsx', sheet_name='Raw Data')
print (sneakers)

      Order Date   Brand                                   Sneaker Name  \
0     2017-09-01   Yeezy           Adidas-Yeezy-Boost-350-Low-V2-Beluga
1     2017-09-01   Yeezy    Adidas-Yeezy-Boost-350-V2-Core-Black-Copper
2     2017-09-01   Yeezy     Adidas-Yeezy-Boost-350-V2-Core-Black-Green
3     2017-09-01   Yeezy       Adidas-Yeezy-Boost-350-V2-Core-Black-Red
4     2017-09-01   Yeezy  Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017
...          ...     ...                                            ...
99951 2019-02-13   Yeezy    adidas-Yeezy-Boost-350-V2-Static-Reflective
99952 2019-02-13   Yeezy    adidas-Yeezy-Boost-350-V2-Static-Reflective
99953 2019-02-13   Yeezy    adidas-Yeezy-Boost-350-V2-Static-Reflective
99954 2019-02-13   Yeezy    adidas-Yeezy-Boost-350-V2-Static-Reflective
99955 2019-02-13   Yeezy    adidas-Yeezy-Boost-350-V2-Static-Reflective

       Sale Price  Retail Price Release Date  Shoe Size  Buyer Region
0          1097.0           220   2016-09-24       11.0    California
1           685.0           220   2016-11-23       11.0    California
2           690.0           220   2016-11-23       11.0    California
3          1075.0           220   2016-11-23       11.5      Kentucky
4           828.0           220   2017-02-11       11.0  Rhode Island
...           ...           ...          ...        ...           ...
99951       565.0           220   2018-12-26        8.0        Oregon
99952       598.0           220   2018-12-26        8.5    California
99953       605.0           220   2018-12-26        5.5      New York
99954       650.0           220   2018-12-26       11.0    California
99955       640.0           220   2018-12-26       11.5         Texas

[99956 rows x 8 columns]

In [13]:
sneakers.to_csv('sneakers1.csv', index=False)

## Seleção das colunas a serem utilizadas na análise

In [97]:
#bova
#nike
#unilev
#daimler
#petr
#vale
#ambev

In [31]:
bova = pd.read_csv('BOVA11.SA (1).csv', usecols = ['Date', 'Close'])

In [30]:
nike = pd.read_csv('NKE.csv', usecols = ['Date', 'Close'])

In [29]:
unilev = pd.read_csv('UL.csv', usecols = ['Date', 'Close'])

In [28]:
daimler = pd.read_csv('DAI.DE.csv', usecols = ['Date', 'Close'])

In [26]:
petr = pd.read_csv('PETR4.SA.csv', usecols = ['Date', 'Close'])

In [27]:
vale = pd.read_csv('VALE3.SA.csv', usecols = ['Date', 'Close'])

In [24]:
ambev = pd.read_csv('ABEV3.SA.csv', usecols = ['Date', 'Close'])

In [136]:
adidas = pd.read_csv('ADS.DE.csv', usecols = ['Date', 'Close'])

## Limpeza/filtro da variação % diária

In [ ]:
#1. fazer essa célula abaixo para todas as ações

In [137]:
adidas['Close'].pct_change()

0           NaN
1     -0.006278
2      0.012073
3     -0.011375
4     -0.015715
         ...
942    0.005798
943    0.008020
944   -0.012183
945   -0.008306
946    0.010914
Name: Close, Length: 947, dtype: float64

In [138]:
adidas['% adidas'] = adidas['Close'].pct_change()

In [131]:
bova['Close'].pct_change()

0           NaN
1      0.022542
2     -0.011022
3     -0.012875
4     -0.002336
         ...
920    0.007692
921   -0.007743
922    0.016046
923    0.001623
924    0.018790
Name: Close, Length: 925, dtype: float64

In [132]:
bova['% bova'] = bova['Close'].pct_change()

In [129]:
vale['Close'].pct_change()

0           NaN
1      0.065369
2     -0.021546
3     -0.013882
4     -0.024272
         ...
920    0.037749
921   -0.026413
922    0.054260
923    0.026862
924    0.003737
Name: Close, Length: 925, dtype: float64

In [130]:
vale['% vale'] = vale['Close'].pct_change()

In [126]:
petr['Close'].pct_change()

0           NaN
1      0.042071
2     -0.006988
3     -0.017201
4      0.000000
         ...
920    0.001594
921   -0.011540
922    0.035427
923    0.012830
924    0.034549
Name: Close, Length: 925, dtype: float64

In [128]:
petr['% petr'] = petr['Close'].pct_change()

In [119]:
daimler['Close'].pct_change()

0           NaN
1     -0.024259
2      0.001673
3     -0.010263
4     -0.013142
         ...
941   -0.024683
942    0.003124
943    0.025436
944    0.016908
945   -0.018319
Name: Close, Length: 946, dtype: float64

In [120]:
daimler['% daimler'] = daimler['Close'].pct_change()

In [108]:
unilev['Close'].pct_change()

0           NaN
1     -0.002971
2      0.012148
3     -0.006793
4     -0.020520
         ...
930    0.000737
931   -0.006257
932    0.016296
933   -0.002004
934   -0.005295
Name: Close, Length: 935, dtype: float64

In [109]:
unilev['% unilev'] = unilev['Close'].pct_change()

In [93]:
nike['Close'].pct_change()

0           NaN
1      0.003439
2      0.003917
3     -0.005463
4      0.000785
         ...
930   -0.000364
931    0.016027
932    0.012309
933    0.008145
934   -0.008431
Name: Close, Length: 935, dtype: float64

In [94]:
nike['% nike'] = nike['Close'].pct_change()

In [34]:
ambev['Close'].pct_change()

0           NaN
1     -0.002688
2     -0.007008
3      0.015201
4     -0.012834
         ...
920   -0.028267
921    0.026894
922   -0.002138
923   -0.014997
924    0.010876
Name: Close, Length: 925, dtype: float64

In [35]:
ambev['% ambev'] = ambev['Close'].pct_change()
#criação de uma coluna que mede a variação % diária

## Normalização dos calendários/datas

In [57]:
pd.date_range(start='2015-06-01', end='2019-02-14')
#fez uma lista de todas as datas no dataset sem excluir os fds, criando isso no ambiente do Python, não no CSV da ambev

DatetimeIndex(['2015-06-01', '2015-06-02', '2015-06-03', '2015-06-04',
               '2015-06-05', '2015-06-06', '2015-06-07', '2015-06-08',
               '2015-06-09', '2015-06-10',
               ...
               '2019-02-05', '2019-02-06', '2019-02-07', '2019-02-08',
               '2019-02-09', '2019-02-10', '2019-02-11', '2019-02-12',
               '2019-02-13', '2019-02-14'],
              dtype='datetime64[ns]', length=1355, freq='D')

In [76]:
datefinal = pd.DataFrame(pd.date_range(start='2015-06-01', end='2019-02-14'), columns=['Date'])
datefinal['Date'] = datefinal['Date'].dt.date.astype('object')
#criou um dataframe/coluna com um range de datas que engloba todas as release dates possíveis

In [78]:
datefinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1355 entries, 0 to 1354
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1355 non-null   object
dtypes: object(1)
memory usage: 10.7+ KB

## Adicionou a coluna de datas para todos os dataframes das ações

In [ ]:
#3. depois de fazer o esquema do object pro Date das ações, fazer o merge

In [80]:
ambev = ambev.merge(datefinal, how = 'right')
#?oq é mesmo o datefinal?

In [98]:
nike = nike.merge(datefinal, how = 'right')

In [111]:
unilev = unilev.merge(datefinal, how = 'right')

In [122]:
daimler = daimler.merge(datefinal, how = 'right')

In [143]:
petr = petr.merge(datefinal, how = 'right')

In [144]:
vale = vale.merge(datefinal, how = 'right')

In [145]:
bova = bova.merge(datefinal, how = 'right')

In [146]:
adidas = adidas.merge(datefinal, how = 'right')

# Adicionar as colunas no dataset

In [ ]:
#4. após fazer o merge, fazer os dois fillna

In [84]:
ambev['Close'] = ambev['Close'].fillna(method='bfill')
#na coluna Close substituiu todos os preços de fechamento tavam null pelo valor que apareceu anteriormente, para casos de dias de feriado ou fds

In [85]:
ambev['% ambev'] = ambev['% ambev'].fillna(method='bfill')
#na coluna Close substituiu todos os % que tavam null pelo valor que apareceu anteriormente, para casos de dias de feriado ou fds

In [99]:
nike['Close'] = nike['Close'].fillna(method='bfill')

In [101]:
nike['% nike'] = nike['% nike'].fillna(method='bfill')

In [113]:
unilev['Close'] = unilev['Close'].fillna(method='bfill')

In [114]:
unilev['% unilev'] = unilev['% unilev'].fillna(method='bfill')

In [123]:
daimler['Close'] = daimler['Close'].fillna(method='bfill')

In [124]:
daimler['% daimler'] = daimler['% daimler'].fillna(method='bfill')

In [147]:
petr['Close'] = petr['Close'].fillna(method='bfill')

In [148]:
petr['% petr'] = petr['% petr'].fillna(method='bfill')

In [149]:
vale['Close'] = vale['Close'].fillna(method='bfill')

In [150]:
vale['% vale'] = vale['% vale'].fillna(method='bfill')

In [151]:
bova['Close'] = bova['Close'].fillna(method='bfill')

In [152]:
bova['% bova'] = bova['% bova'].fillna(method='bfill')

In [153]:
adidas['Close'] = adidas['Close'].fillna(method='bfill')

In [154]:
adidas['% adidas'] = adidas['% adidas'].fillna(method='bfill')

In [46]:
sneakers['Release Date'].dt.date.astype('object')
#??converteu a coluna Release Date em object

0        2016-09-24
1        2016-11-23
2        2016-11-23
3        2016-11-23
4        2017-02-11
            ...
99951    2018-12-26
99952    2018-12-26
99953    2018-12-26
99954    2018-12-26
99955    2018-12-26
Name: Release Date, Length: 99956, dtype: object

In [ ]:
#2. fazer essa célula abaixo para todas as ações, depois de ter feito o esquema do pct change pra todas elas

In [52]:
ambev['Date'] = pd.to_datetime(ambev['Date']).dt.date.astype('object')
#?? converteu a coluna Date na Ambev para object

In [96]:
nike['Date'] = pd.to_datetime(nike['Date']).dt.date.astype('object')

In [110]:
unilev['Date'] = pd.to_datetime(unilev['Date']).dt.date.astype('object')

In [121]:
daimler['Date'] = pd.to_datetime(daimler['Date']).dt.date.astype('object')

In [139]:
petr['Date'] = pd.to_datetime(petr['Date']).dt.date.astype('object')

In [140]:
vale['Date'] = pd.to_datetime(vale['Date']).dt.date.astype('object')

In [141]:
bova['Date'] = pd.to_datetime(bova['Date']).dt.date.astype('object')

In [142]:
adidas['Date'] = pd.to_datetime(adidas['Date']).dt.date.astype('object')

In [47]:
sneakers['Release Date'] = sneakers['Release Date'].dt.date.astype('object')
#?? converteu a Release Date em object?

In [48]:
sneakers['Order Date'] = sneakers['Order Date'].dt.date.astype('object')
#?? converteu a Order Date em object?

In [102]:
#5

In [156]:
sneakers

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island
...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,565.0,220,2018-12-26,8.0,Oregon
99952,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,598.0,220,2018-12-26,8.5,California
99953,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,605.0,220,2018-12-26,5.5,New York
99954,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,650.0,220,2018-12-26,11.0,California
99955,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,640.0,220,2018-12-26,11.5,Texas

In [155]:
sneakers.merge(nike, how='left', left_on = 'Release Date', right_on = "Date").merge(nike, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(ambev, how='left', left_on = 'Release Date', right_on = "Date").merge(ambev, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(unilev, how='left', left_on = 'Release Date', right_on = "Date").merge(unilev, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(daimler, how='left', left_on = 'Release Date', right_on = "Date").merge(daimler, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(petr, how='left', left_on = 'Release Date', right_on = "Date").merge(petr, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(vale, how='left', left_on = 'Release Date', right_on = "Date").merge(vale, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(adidas, how='left', left_on = 'Release Date', right_on = "Date").merge(bova, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(adidas, how='left', left_on = 'Release Date', right_on = "Date").merge(adidas, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after'])

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Date_before,Close_before,...,% adidas_x,Date_after,Close_after,% bova,Date_before,Close_before,% adidas_y,Date_after,Close_after,% adidas
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California,2016-09-24,54.400002,...,-0.011928,2017-09-01,69.510002,0.016079,2016-09-24,153.250000,-0.011928,2017-09-01,190.399994,0.009812
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California,2016-11-23,51.340000,...,-0.001438,2017-09-01,69.510002,0.016079,2016-11-23,138.850006,-0.001438,2017-09-01,190.399994,0.009812
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California,2016-11-23,51.340000,...,-0.001438,2017-09-01,69.510002,0.016079,2016-11-23,138.850006,-0.001438,2017-09-01,190.399994,0.009812
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky,2016-11-23,51.340000,...,-0.001438,2017-09-01,69.510002,0.016079,2016-11-23,138.850006,-0.001438,2017-09-01,190.399994,0.009812
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island,2017-02-11,56.090000,...,0.012383,2017-09-01,69.510002,0.016079,2017-02-11,151.250000,0.012383,2017-09-01,190.399994,0.009812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,565.0,220,2018-12-26,8.0,Oregon,2018-12-26,73.010002,...,-0.025169,2019-02-13,92.599998,0.001623,2018-12-26,180.100006,-0.025169,2019-02-13,198.649994,-0.012183
99952,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,598.0,220,2018-12-26,8.5,California,2018-12-26,73.010002,...,-0.025169,2019-02-13,92.599998,0.001623,2018-12-26,180.100006,-0.025169,2019-02-13,198.649994,-0.012183
99953,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,605.0,220,2018-12-26,5.5,New York,2018-12-26,73.010002,...,-0.025169,2019-02-13,92.599998,0.001623,2018-12-26,180.100006,-0.025169,2019-02-13,198.649994,-0.012183
99954,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,650.0,220,2018-12-26,11.0,California,2018-12-26,73.010002,...,-0.025169,2019-02-13,92.599998,0.001623,2018-12-26,180.100006,-0.025169,2019-02-13,198.649994,-0.012183
99955,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,640.0,220,2018-12-26,11.5,Texas,2018-12-26,73.010002,...,-0.025169,2019-02-13,92.599998,0.001623,2018-12-26,180.100006,-0.025169,2019-02-13,198.649994,-0.012183

In [88]:
sneakers.merge(ambev, how='left', left_on = 'Release Date', right_on = "Date").merge(ambev, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after'])

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Date_before,Close_before,% ambev_before,Date_after,Close_after,% ambev_after
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California,2016-09-24,19.620001,-0.005575,2017-09-01,19.760000,-0.005035
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California,2016-11-23,17.639999,0.027373,2017-09-01,19.760000,-0.005035
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California,2016-11-23,17.639999,0.027373,2017-09-01,19.760000,-0.005035
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky,2016-11-23,17.639999,0.027373,2017-09-01,19.760000,-0.005035
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island,2017-02-11,17.250000,0.006418,2017-09-01,19.760000,-0.005035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,565.0,220,2018-12-26,8.0,Oregon,2018-12-26,15.140000,-0.001978,2019-02-13,18.389999,-0.014997
99952,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,598.0,220,2018-12-26,8.5,California,2018-12-26,15.140000,-0.001978,2019-02-13,18.389999,-0.014997
99953,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,605.0,220,2018-12-26,5.5,New York,2018-12-26,15.140000,-0.001978,2019-02-13,18.389999,-0.014997
99954,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,650.0,220,2018-12-26,11.0,California,2018-12-26,15.140000,-0.001978,2019-02-13,18.389999,-0.014997
99955,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,640.0,220,2018-12-26,11.5,Texas,2018-12-26,15.140000,-0.001978,2019-02-13,18.389999,-0.014997

In [103]:
#6.

In [89]:
df_final = sneakers.merge(ambev, how='left', left_on = 'Release Date', right_on = "Date").merge(ambev, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after'])

In [ ]:
df_final.to_csv('analise.csv', index=False)

In [157]:
df2_final = sneakers.merge(nike, how='left', left_on = 'Release Date', right_on = "Date").merge(nike, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(ambev, how='left', left_on = 'Release Date', right_on = "Date").merge(ambev, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(unilev, how='left', left_on = 'Release Date', right_on = "Date").merge(unilev, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(daimler, how='left', left_on = 'Release Date', right_on = "Date").merge(daimler, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(petr, how='left', left_on = 'Release Date', right_on = "Date").merge(petr, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(vale, how='left', left_on = 'Release Date', right_on = "Date").merge(vale, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(adidas, how='left', left_on = 'Release Date', right_on = "Date").merge(bova, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after']).merge(adidas, how='left', left_on = 'Release Date', right_on = "Date").merge(adidas, how='left', left_on = 'Order Date', right_on = "Date", suffixes = ['_before', '_after'])

In [158]:
df2_final.to_csv('analise2.csv', index=False)

# Comandos Úteis